/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    
    color: #fff;
    padding: 10px 0;
}

header nav {
    display: flex;
    justify-content:left;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 0px;
}

header nav h1 {
    margin: 0;
    font-size: 2.5em;
    color: black;
    background-color: grey;
    padding: 10px;
    border-radius: 8px;
}

header nav ul {
    list-style: none;
    display: flex;
    margin-left: 80px;
    padding: 0;

}

header nav ul li {
    margin-left: 25px;
    background-color: black;
    border-radius: 5px;
    padding: 10px 13px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1em;
    
}

.hero {
    width: 500px;
    background-color: grey;
    text-align: center;
    padding: 40px 20px;
    border-radius: 20px;
    color: #333;
    margin: 50px auto 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 0 90px rgba(255, 255, 255, 0.1);
}

.hero h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.hero button {
    background-color: #111111;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
    border-radius: 8px;
}

#events {
   
    padding: 20px;
    
}

#events h2 {
    font-size: 1.4em;
    margin-bottom: 20px;
}

.event-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    background-color: #c4bfbf;
    border: 1px solid #ddd;
    margin: 10px;
    padding: 20px;
    width: 200px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.card img {
    max-width: 100%;
    height: auto;
}

.card h3 {
    font-size: 1.2em;
    margin: 10px 0;
    margin-bottom: 0px;
    text-align: center;
}


.card p {
    font-size: 1em;
    color: #666;
    margin-bottom: 0px;
    text-align: center;
}

#categories {
    background-color: #d9d5d5;
    padding: 20px;
    text-align: center;
    padding-bottom: 40px;
    border-radius: 20px;
    width: 800px;
    margin: auto;
    margin-bottom: 30px;
}

#categories h2 {
    font-size: 1.8em;
    margin-bottom: 20px;
}

.category-tags span {
    background-color: #333;
    color: #fff;
    display: inline-block;
    margin: 5px;
    padding: 10px 15px;
    font-size: 1em;
    border-radius: 10px;
}

#membership {
    background-color: #4b4949;
    padding: 40px;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 15px;
    width: 1300px;
    margin: auto;
    margin-bottom: 20px;
}

#membership h2 {
    font-size: 1.8em;
    margin-bottom: 20px;
}

.membership-plans {
    
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.plan {
    background-color: #e4dcdc;
    border: 1px solid #ddd;
    margin: 10px;
    padding: 10px;
    padding-bottom: 30px;
    width: 250px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 10px;
}

.plan h3 {
    font-size: 1.5em;
    margin-top: 0;
}

.plan p {
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
}

.plan ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 1em;
    color: #666;
    padding-bottom:20px ;
}

.plan ul li {
    margin-bottom: 10px;
}

.plan button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
    border-radius: 5px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    width: 1000px;
    margin: auto;
    margin-bottom: 10px;
}

footer p {
    margin: 0
}

.footer-links {
    margin-top: 10px;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 1em;
}
