
body {
  transition: background-color 0.5s, color 0.5s;
  font-family: 'Roboto', sans-serif;
  
}

.light-mode {
  background-color: #ffffff;
  color: #202124;
}

.dark-mode {
  background-color: #202124;
  color: #ffffff;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.dark-mode .container{
  background-color: #202124;
}

.header h1 {
  font-size: 24px;
  margin: 0;
}

/* Note Form */
.note-form {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.note-form .form-group {
  margin-bottom: 15px;
}

/* Notes List */
.notes-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 20px;
}

/* Note Card */
.note-card {
  background-color: #fff;
  color: #000;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  margin: 10px;
  padding: 15px;
  width: 250px;
  transition: background-color 0.3s, color 0.3s;
}

.note-card h5 {
  margin-top: 0;
}

.note-card p {
  margin: 10px 0;
}

.note-card button {
  margin-right: 5px;
}

/* Dark Mode Note Card */
.dark-mode .note-card {
  background-color: #333;
  color: #fff;
}

/* Toggle Switch */
.toggle-switch {
  margin: 0 20px;
}

.dark-mode .navbar{
 background-color:  #202124;

} 

.navbar .container .imge{
  margin: 10px;

}

.dark-mode .navbar-brand,
.dark-mode .nav-link ,
.dark-mode .navbar .container
{
  background-color: #202124;
  color: #fff;
  
}

.dark-mode .navbar-toggler-icon {
  filter: invert(1) !important;
}